.top-bar{
	background-color: none;
	display: flex;
	width: 50%;
	height: auto;
	position: relative;
	left: 50vw;
}

.nav{
	flex: 3px;
}

.nav ul{
	display: flex;
	list-style: none;
	margin-top: 30px;
	flex-flow: row wrap;
}

.nav ul li{
	flex: 1;
	text-align: center;
}

.nav ul li a {
	color: #000;
	font-size: 20px;
	text-decoration: none;
}

@media (max-width: 600px) {
	.top-bar{
		display:none;
	}
}