*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font: 1.125rem roboto-slab;
}

@media (max-width: 500px){
  .top-bar{
    display: none;
  }
  .logo{
    padding: 18px 0 0;
  }
  .nav ul{
    flex-direction: column;
    margin-top: 0;
  }
  .nav ul li{
    padding: 5px;
  }
  .banner-text-item{
    width: 100%;
  }
  .banner-text-items h2{
    font-size: 1.5em;
  }
  .main-content{
    flex-direction: column
  }
}

@media (max-width: 800px){
  .top-bar{
    display: none;
  }
  .logo{
    padding: 18px 0 0;
  }
  .nav ul{
    flex-direction: column;
    margin-top: 0;
  }
  .nav ul li{
    padding: 5px;
  }
  .banner-text-item{
    width: 100%;
  }
  .banner-text-items h2{
    font-size: 2.5em;
  }
  .main-content{
    flex-direction: column
  }
}
